<h1> <%=@first_var%> </h1>

<ul>
  <%	 @days = [ "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
  ] %>

  <% [1,2,3,4,5,6,7].each do|e| %>
    <li><%= e %></li>
  <% end %>
</ul>

<form action="/create_new_articles" method="get">
   <p>Title of task: <input name="title"></p>
   <p>Body of task: <input name="body">  </p>
   <p><input type="submit"></p>
</form>

<ul>
  <% @article_from_db.each do |elem| %>
    <li><%= elem.title + " " + elem.body %></li>
  <% end %>

</ul>